body{
 background-color: hsl(0, 0%, 10%);
}



.to-do-list{
text-align: center;
font-family: Arial, Helvetica, sans-serif;
margin-top: 100px;

}

h1{
  font-size: 5rem;
  color: white;
}

button{
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: bg-color 0.5 ease;

}

.Add-button{
  background-color: hsl(125, 47%, 54%);
}

.Add-button:hover{
  background-color: hsl(125, 47%, 40%);
}


.delete-button{
  background-color: hsl(0, 56%, 51%);
}

.delete-button:hover{
  background-color: hsl(0, 79%, 41%);
}


.moveUp-btn{
  background-color: hsl(215, 86%, 50%);
}

.moveUp-btn:hover{
  background-color: hsl(215, 86%, 60%);
}


.moveDown-btn{
  background-color: hsl(215, 86%, 50%);
}

.moveDown-btn:hover{
  background-color: hsl(215, 86%, 60%);
}


input{
  padding: 10px ;
  font-size: 1.6rem;
  border: 2px solid hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
  color: hsla(0, 0%, 0%, 0.5);
  text-transform: capitalize;


}

ol{
  padding: 0px;
}

li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: hsl(0, 0%, 97%);
  margin-bottom: 10px;
  border: 3px solid hsla(0, 0%, 85%, 0.75);
  border-radius: 5px;
  display: flex;
  align-items: center;
  text-transform: capitalize;


}

.text{
  flex: 1;

}

.delete-button, .moveDown-btn, .moveUp-btn{
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
}